@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");

body {
  background: #36454f;
  color: rgb(102, 181, 217);
  font-family: Arial, sans-serif;
  font-family: "Henny Penny", system-ui;
}

img {
  border-radius: 10px;
  border: 6px solid rgb(102, 181, 217);
  margin: 5px;
  background-color: white;
}

h1 {
  font-size: 3em;
  background-color: rgb(102, 181, 217);
  color: beige;
}

div {
  background-color: beige;
  border: 20px ridge rgb(102, 181, 217);
  border-radius: 30px;
  width: 250px;
}
